services:
  boto-postgres:
    image: postgres:15
    container_name: boto-postgres
    restart: always
    environment:
      POSTGRES_USER: boto
      POSTGRES_PASSWORD: dfj02idkn209dfg5536dfg21s3
      POSTGRES_DB: boto
      TEMPORAL_ADDRESS: "temporal:7233"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - soma_somanet
  boto-redis:
    image: redis:7
    container_name: boto-redis
    restart: always
    volumes:
      - ./redis_data:/data
    networks:
      - soma_somanet
  boto-pg-admin:
    image: dpage/pgadmin4:latest
    container_name: boto-pg-admin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@soma.krd
      PGADMIN_DEFAULT_PASSWORD: dfj02idkn209dPo04ndfkgsK
    volumes:
      - ./pgadmin_data:/var/lib/pgadmin
    networks:
      - soma_somanet

  boto-app:
    image: ghcr.io/soma-krd/boto.social:placeholder
    container_name: boto-app
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./uploads:/uploads
      - ./logs:/app/logs
    networks:
      - soma_somanet

  temporal-elasticsearch:
    container_name: temporal-elasticsearch
    image: elasticsearch:7.17.27
    environment:
      - cluster.routing.allocation.disk.threshold_enabled=true
      - cluster.routing.allocation.disk.watermark.low=512mb
      - cluster.routing.allocation.disk.watermark.high=256mb
      - cluster.routing.allocation.disk.watermark.flood_stage=128mb
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms256m -Xmx256m
      - xpack.security.enabled=false
    networks:
      - temporal-network
    expose:
      - 9200
    volumes:
      - /var/lib/elasticsearch/data

  temporal-postgresql:
    container_name: temporal-postgresql
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: temporal
      POSTGRES_USER: temporal
    networks:
      - temporal-network
    expose:
      - 5432
    volumes:
      - /var/lib/postgresql/data

  temporal:
    container_name: temporal
    ports:
      - "7233:7233"
    image: temporalio/auto-setup:1.28.1
    depends_on:
      - temporal-postgresql
      - temporal-elasticsearch
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=temporal
      - POSTGRES_PWD=temporal
      - POSTGRES_SEEDS=temporal-postgresql
      - DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development-sql.yaml
      - ENABLE_ES=true
      - ES_SEEDS=temporal-elasticsearch
      - ES_VERSION=v7
      - TEMPORAL_NAMESPACE=default
    networks:
      - temporal-network
    volumes:
      - ./dynamicconfig:/etc/temporal/config/dynamicconfig
    labels:
      kompose.volume.type: configMap

  temporal-admin-tools:
    container_name: temporal-admin-tools
    image: temporalio/admin-tools:1.28.1-tctl-1.18.4-cli-1.4.1
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    networks:
      - temporal-network
    stdin_open: true
    depends_on:
      - temporal
    tty: true

  temporal-ui:
    container_name: temporal-ui
    image: temporalio/ui:2.34.0
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://127.0.0.1:3000
    networks:
      - temporal-network
    ports:
      - "8080:8080"

volumes:
  redisinsight:
  postgres-volume:
    external: false

networks:
  soma_somanet:
    external: false
  temporal-network:
    driver: bridge
    name: temporal-network
