services:
  boto-postgres:
    image: postgres:15
    container_name: boto-postgres
    restart: always
    environment:
      POSTGRES_USER: boto
      POSTGRES_PASSWORD: dfj02idkn209dfg5536dfg21s3
      POSTGRES_DB: boto
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - soma_somanet
  boto-redis:
    image: redis:7
    container_name: boto-redis
    restart: always
    volumes:
      - ./redis_data:/data
    networks:
      - soma_somanet
  boto-app:
    image: ghcr.io/soma-krd/boto.social:placeholder
    container_name: boto-app
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./uploads:/uploads
      - ./logs:/app/logs
    networks:
      - soma_somanet

networks:
  soma_somanet:
    external: true
